:root {
  --textcolor: #f1f1f1;
  --bgcolor: #333;
  --secondback: #242424cf;
  --linkcolor: #df62d8;
  --enterboxbg: #2e2e2eb5;
  --buttondark: #1c1c1c;
  --actbuttondark: #ae5454;
  --blueColor: #328fec;
  --yellowColor: #ece21e;
  --orangeColor: #ee892b;
  --purpleColor: #8e34af;
  --greenColor: #69ba53;
  --pinkColor: #df62d8;
  --redColor: #971f1f;
  --dangerColor: #d30808;
}

@media screen and (max-width: 1200px) {
  .contentTasks {
    grid-template-columns: repeat(2, 400px) !important ;
  }
}

* {
  color: var(--textcolor);
  text-decoration: none;
  list-style-type: none;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono";
  transition: 0.2s;
}

body {
  background-color: var(--bgcolor);
  background-size: cover;
}

.main strong {
  color: var(--linkcolor);
}

#nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: var(--secondback);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  font-size: 23px;
}

#nav ul {
  display: flex;
  gap: 60px;
}

#nav a {
  margin-left: 2rem;
  margin-right: 2rem;
}

#nav a:hover {
  transform: scale(1.1);
  color: var(--linkcolor);
}

#nav ul li:hover {
  transform: scale(1.1);
}

#nav button {
  background-color: transparent;
  font-size: 20px;
}

#title {
  font-size: 30px;
}

#bloc1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 200px;
  font-weight: 400;
  line-height: 50px;
  font-style: normal;
}

#bloc1 h2 {
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
}

.directory ul {
  display: flex;
  justify-content: center;
  gap: 400px;
  padding-right: 100px;
}

.directory svg {
  height: 100px;
  fill: #f1f1f1;
  position: absolute;
  display: block;
}

.directory svg:hover {
  transform: scale(1.1);
  fill: var(--linkcolor);
}

#sign {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin: 250px auto;
}

#sign input {
  background-color: var(--secondback);
  width: 600px;
  height: 50px;
  border-radius: 25px;
  padding-left: 25px;
}

#sign h2 {
  font-size: 50px;
}

#sign button {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: var(--secondback);
}

#sign button:hover {
  background-color: var(--buttondark);
  transform: scale(1.1);
  color: var(--linkcolor);
}

#sign p {
  font-size: 20px;
}

#sign p a {
  color: var(--linkcolor);
  cursor: pointer;
}

#sign a {
  cursor: pointer;
}

#sign a:hover {
  color: var(--linkcolor);
}

#sign ul {
  display: flex;
  gap: 10px;
}

#bar {
  background-color: var(--secondback);
  width: 60px;
  height: 100%;
  left: 0;
  top: 60px;
  position: fixed;
}

#bar ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  fill: var(--textcolor);
  width: 40px;
  margin: 10px;
  margin-top: 50px;
}

#bar ul li:hover {
  transform: scale(1.1);
  fill: var(--linkcolor);
}

.signup {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin: 150px auto;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.signup ul {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.signup input {
  background-color: var(--secondback);
  width: 400px;
  height: 50px;
  border-radius: 25px;
  padding-left: 25px;
  font-size: 16px;
}

.signup button {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: var(--secondback);
}

.signup button:hover {
  transform: scale(1.1);
  color: var(--linkcolor);
}

.signup p {
  font-size: 15px;
}

.signup a {
  text-decoration: underline;
}

.signup a:hover {
  color: var(--linkcolor);
}

.test {
  display: flex;
  justify-content: center;
  margin: 200px auto;
}

.newnotes {
  display: none;
}

#newnotes {
  width: 500px;
  height: 500px;
  background-color: var(--secondback);
  margin: 200px auto;
  border-radius: 25px;
}

#newnotes h2 {
  text-align: center;
  padding-top: 25px;
}

#newnotes input {
  width: 400px;
  height: 300px;
  background-color: var(--enterboxbg);
  border-radius: 25px;
  justify-content: center;
  margin-left: 50px;
  margin-top: 25px;
}

.newnotes button {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  position: relative;
  text-align: center;
  align-items: center;
  border-radius: 35px;
  width: 90px;
  height: 40px;
  background-color: var(--buttondark);
}

.newnotes button:hover {
  background-color: var(--actbuttondark);
}

.newnotes ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.contentTasks {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  grid-template-columns: repeat(4, 400px);
  margin-left: 80px;
  margin-top: 5rem;
}

.tasks {
  width: 350px;
  height: 200px;
  background-color: var(--enterboxbg);
}

.tasks h2 {
  text-align: center;
}

.tasks ol {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 25px;
}

.tasks button {
  right: 0;
  background-color: var(--secondback);
}

.tasksRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasksRow button svg:first-child {
  display: none;
}

.tasksRow button svg:last-child {
  display: block;
}

.contentTasks .cardTask {
  border-radius: 15px;
  width: 95%;
  margin: 0 auto;
  height: auto;
  min-height: 1.5rem;
  background-color: var(--secondback);
}
.contentTasks .cardTask:first-child {
  margin-top: 0.4rem;
}
.contentTasks .cardTask:last-child {
  margin-bottom: 0.4rem;
}

.contentTasks .cardTask .cardBody {
  display: flex;
  align-items: center;
}

.contentTasks .cardTask .cardBody h3 {
  width: 65%;
  overflow: hidden;
  margin: 0;
  margin-left: 1rem;
}

.btnSectionCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSectionCard button {
  background-color: transparent;
}

.inTaskFolder {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.contentTasks .cardTask .cardBody button svg:hover {
  fill: #f1f1f1;
  transform: scale(1.1);
  cursor: pointer;
}

.contentTasks .cardTask .cardProfPic {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  margin-left: 0.5rem;
}

.contentTasks .cardTask .cardProfPic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.contentTasks .cardTask span {
  margin-left: 1rem;
}

.contentTasks .taskFolder {
  height: auto;
  width: 400px;
  background-color: #df62d8;
  border-radius: 15px;
}

.contentTasks .taskFolderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.contentTasks .taskFolderRow h3 {
  font-size: 20px;
  margin: 0 0;
  margin-left: 1rem;
}

.contentTasks .taskFolderRow button {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  margin: 0 0.2rem;
}

.contentTasks .taskFolderRow button:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}

.contentTasks .taskFolderRow .buttonRow {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  gap: 0.5rem;
}

.strikethrough {
  text-decoration: line-through 2px;
}

.inTaskFolder {
  background-color: #1c1c1c;
  margin: 0.2rem;
  margin-top: 0.4rem;
  border-radius: 15px;
}

.colorBtn {
  border-radius: 50%;
  border: solid black 1px;
  margin: 0 0.1rem !important;
}

.blue {
  background-color: var(--blueColor) !important;
}

.yellow {
  background-color: var(--yellowColor) !important;
}

.yellow .taskFolderRow h3 {
  color: black;
}

.yellow .taskFolderRow .buttonRow button svg {
  fill: black !important;
}

.orange {
  background-color: var(--orangeColor) !important;
}

.purple {
  background-color: var(--purpleColor) !important;
}

.pink {
  background-color: var(--pinkColor) !important;
}

.green {
  background-color: var(--greenColor) !important;
}
.red {
  background-color: var(--redColor) !important;
}

.editTitle {
  background-color: transparent;
  margin-left: 1rem;
  width: 65%;
}

.editTitleFolder {
  background-color: transparent;
  margin-left: 1rem;
  width: 65%;
  margin-top: 0.2rem;
  font-size: 18px;
}

.timeWarn {
  color: var(--orangeColor);
}

.timeDanger {
  color: var(--dangerColor);
}

#settingsPopUp {
  width: 50rem;
  height: 40rem;
  background-color: #1c1c1cad;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

#settingsPopUp button {
  width: 6rem;
  height: 2rem;
  background-color: #328fec;
}

#barUl button {
  background-color: transparent;
  margin: 0 0.2rem;
  bottom: 5rem;
}

#barUl button:hover {
  transform: scale(1.1);
}
